__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

.venv/
.venv_workshop/
venv_workshop/
venv/
ENV/
env/
.conda/

.ipynb_checkpoints

.vscode/
*.log
*.tmp
*.DS_Store

.coverage
htmlcov/
.pytest_cache/
